@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="ShoppingCart">
            <i class="fas fa-cart-plus"></i>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}

